@import "./utilities/vars";
@import "./components/buttons";
@import "./components/inputs";
@import "./components/icon";
@import "./utilities/mixins";
@import "./utilities/navbar";
@import "./components/icon";
.about {
  padding: var(--main-padding) 0;
  .container {
    h2 {
      margin-bottom: 38px;
      font-size: 30px;
    }
    .front-end,
    .back-end {
      display: flex;
      padding: 0 22px;
      margin: 44px 0 66px;
      .developer {
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        row-gap: 14px;
        width: 60%;
        padding: 4px 22px;
        h3,
        h4 {
          font-weight: bold;
          margin: 0 0 18px 0;
        }
        h3 {
          font-size: 24px;
        }
        .social {
          font-size: 24px;
          padding: 22px 22px 0;
          @include flexable(end, center);
          i {
            font-size: 38px;
            @extend %i;
          }
        }
      }
      .picture {
        width: 40%;
        img {
          width: 100%;
        }
      }
    }
  }
}
@import "./utilities/footer";
