@import "./utilities/vars";
@import "./utilities/mixins";
@import "./components/icon";
@import "./utilities/navbar";
@import "./components/inputs";
@import "./components/buttons";
form.main {
  width: 440px;
  margin: 0 auto;
  padding: $main-padding 0;
  @include flexable(center, center);
  min-height: calc(100vh - 48px);
  .fields {
    padding: 4px;
  }
  input:not([type="submit"]) {
    width: 100%;
    @extend %input;
  }
  p {
    line-height: 1.8;
    font-size: 22px;
    margin: 18px 0 18px -24px;
    width: calc(100% + 48px);
  }
  label {
    display: block;
    margin: 24px 0 14px;
  }
  input[type="submit"] {
    background-color: $main-color;
    @extend %submit;
  }
}
@import "./utilities/footer";
