@import "./utilities/vars";
@import "./utilities/mixins";
@import "./utilities/navbar";
@import "./components/images";
@import "./components/effect";
@import "./components/up-button";
@import "./components/show-more";
form.main {
  padding: $main-padding 0;
  .container {
    position: relative;
    h2 {
      font-weight: bold;
      font-size: 28px;
      margin: 8px 0 22px;
    }
  }
}
