footer {
  background-color: #192544;
  color: $white;
  font-size: 17px;
  .container {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    column-gap: 8px;
    justify-content: space-around;
    padding: 24px 0;
    p {
      font-size: 14px;
      line-height: 1.6;
      margin-inline-end: 8px;
    }
    .sitemap,
    .imageshare {
      li {
        margin-bottom: 12px;
      }
    }
    .imageshare {
      i {
        font-size: 18px;
        margin-inline: 2px 4px;
      }
    }
    .contact {
      padding: 4px;
      p {
        max-width: 88%;
      }
      textarea {
        width: 96%;
        resize: vertical;
        margin-bottom: 10px;
        padding: 8px 14px;
        border-radius: $rounded;
        border: 0.4px solid $border-color;
      }
      input:not([type="submit"]) {
        @extend %input;
        width: 88%;
      }
      input[type="submit"] {
        background-color: $primary-color;
        @extend %submit;
      }
    }
  }
  .copyright {
    width: 100%;
    color: $white;
    background-color: #0c111f;
    padding: 18px;
    line-height: 1.7;
    .container {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      .socials {
        a {
          i {
            font-size: 28px;
            @extend %i;
          }
        }
      }
    }
  }
}
