nav {
  background-color: #1d2843;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 11;
  .container {
    padding: 6px 4px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    justify-content: space-between;
    align-items: center;
    h1 {
      margin: 0;
      padding: 0;
      font-size: 24px;
      cursor: pointer;
    }
    form {
      position: relative;
      text-align: center;
      input {
        width: 94%;
        border-radius: $rounded;
        font-size: 18px;
        // height: 96%;
        padding: 4px 38px;
        border: none;
      }
      .search {
        position: absolute;
        left: 20px;
        top: 48%;
        padding: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transform: translateY(-50%);
        i {
          color: #888;
          font-size: 24px;
          transition: color 0.4s;
          &:hover {
            color: #444;
          }
        }
      }
    }
    .links {
      display: flex;
      justify-content: end;
      li {
        width: 26%;
        font-size: 18px;
        text-align: center;
        border-radius: 8px;
        border: 0.4px solid transparent;
        &:nth-of-type(2) {
          border-color: #888;
          margin: 0 5px;
        }
        &:last-of-type {
          background-color: #37b0e4;
        }
        a {
          display: block;
          width: 100%;
          padding: 2px 4px;
          line-height: 1.6;
        }
      }
    }
  }
}
