.show-more {
  margin: $main-padding 0 0;
  button {
    display: block;
    width: 280px;
    border: 1px solid $border-color;
    margin: auto;
    color: $grey-color;
    background: transparent;
    cursor: pointer;
    position: relative;
    border-radius: $rounded;
    padding: 8px 24px;
    font-size: 20px;
    i {
      font-size: 22px;
      position: absolute;
      left: 8px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
