@import "./utilities/vars";
@import "./components/buttons";
@import "./components/inputs";
@import "./utilities/mixins";
@import "./components/icon";
@import "./utilities/navbar";
@import "./utilities/footer";
form.main {
  width: 440px;
  margin: 0 auto;
  padding: $main-padding 0;
  @include flexable(center, center);
  min-height: calc(100vh - 48px);
  .fields {
    padding: 4px;
  }
  input:not([type="submit"]) {
    width: 100%;
    @extend %input;
  }
  span {
    font-size: 14px;
    font-weight: 300;
  }
  label {
    display: block;
    font-weight: 500;
    font-size: 20px;
    &:last-of-type {
      margin-top: 14px;
    }
  }
  h2 {
    margin: 0 0 28px;
  }
  input[type="submit"] {
    background-color: $main-color;
    font-weight: bold;
    margin-top: 22px;
    @extend %submit;
  }
}
