@import "./utilities/vars";
@import "./components/buttons";
@import "./components/inputs";
@import "./components/icon";
@import "./utilities/navbar";
@import "./utilities/footer";
.main {
  width: 440px;
  margin: 0 auto;
  padding: $main-padding 0;
  text-align: center;
  font-size: 18px;
  position: relative;
  h2 {
    margin-bottom: 28px;
  }
  input,
  button {
    width: 100%;
    display: block;
  }
  button {
    margin: 8px 0;
    @extend %button;
    position: relative;
    strong {
      letter-spacing: 1px;
    }
    img {
      width: 32px;
      height: 32px;
      position: absolute;
      top: 50%;
      left: 18px;
      transform: translateY(-50%);
    }
  }
  hr:first-of-type {
    border: 0.2px solid #000;
    margin-top: 28px;
  }
  hr:last-of-type {
    border: 0.2px solid $border-color;
  }
  span:first-of-type {
    position: relative;
    bottom: 32px;
    display: inline-block;
    width: 40px;
    background-color: $white;
    margin-top: 10px;
  }
  span:nth-of-type(2),
  span:nth-of-type(3) {
    font-size: 14px;
  }
  input {
    @extend %input;
  }
  .name {
    display: flex;
    justify-content: space-between;
    margin-top: -18px;
    input {
      width: 49%;
    }
  }
  input[type="submit"] {
    background-color: $main-color;
    @extend %submit;
  }
  a {
    color: $primary-color;
  }
}
