@import "./utilities/vars";
@import "./components/buttons";
@import "./components/inputs";
@import "./components/icon";
@import "./utilities/navbar";
@import "./utilities/footer";
form.main {
  width: 440px;
  margin: 0 auto;
  padding: $main-padding 0;
  text-align: center;
  font-size: 18px;
  position: relative;
  h2 {
    margin-bottom: 28px;
    margin-left: -22px;
    width: calc(100% + 44px);
  }
  input,
  button {
    width: 100%;
    display: block;
  }
  button {
    margin: 8px 0;
    position: relative;
    @extend %button;
    strong {
      letter-spacing: 1px;
    }
    img {
      width: 32px;
      height: 32px;
      position: absolute;
      top: 50%;
      left: 18px;
      transform: translateY(-50%);
    }
  }
  hr:first-of-type {
    border: 0.2px solid #000;
    margin-top: 28px;
  }
  hr:last-of-type {
    border: 0.2px solid $border-color;
    margin-top: 14px;
  }
  span:first-of-type {
    position: relative;
    bottom: 32px;
    display: inline-block;
    width: 40px;
    background-color: $white;
    margin-top: 10px;
  }
  span:nth-of-type(2) {
    font-size: 14px;
  }
  input {
    @extend %input;
  }
  input[type="submit"] {
    background-color: $main-color;
    @extend %submit;
  }
  a {
    color: $primary-color;
    font-size: 13px;
  }
  > a {
    display: block;
    text-align: left;
  }
}
