include ../base/head
include ../base/navbar
include ../base/footer
doctype html
html
  head
    +head('checking', 'email-message.css')
  body
    +navbar
    main
      p Pleas check your email instruction were sent to your email address
    +footer