include ../base/head
include ../base/navbar
include ../base/footer
doctype html
html
  head
    +head('new password', 'new-password.css')
  body
    +navbar
    form.main
      .fields
        h2 reset your <strong>images</strong>hare password
        label(for='new-password') new password
        input(type='password' id="new-password")
        span minimum 8 characters
        label(for="password") verify New password
        input(type='password' id="verify-password")
        input(type='submit' value='Reset')
    +footer