include ../base/head
include ../base/navbar
include ../base/footer
doctype html
html
  head
    +head('reset password', 'reset-password.css')
  body
    +navbar
    form.main
      .fields
        p We'll send password reset instructions to the email address associated with your account
        label(for='email') enter email address
        input(type='email' id='email')
        input(type='submit' value='reset password')
    +footer
