form.main input[type=submit], footer .container .contact input[type=submit] {
  border-radius: 4px;
  font-size: 18px;
  border: none;
  padding: 8px 14px;
  color: #fff;
  cursor: pointer;
}

form.main input:not([type=submit]), footer .container .contact input:not([type=submit]) {
  display: block;
  margin: 6px 0 16px;
  border-radius: 8px;
  border: 0.4px solid #ccc;
  padding: 6px 10px;
}

footer .copyright .container .socials a i {
  margin-inline: 4px;
  font-size: 28px;
  border-radius: 4px;
  background-color: #0078d4ab;
  color: #fff;
  padding: 7px;
  transition: background-color 0.4s;
}
footer .copyright .container .socials a i:hover {
  background-color: #0078d4;
}

nav {
  background-color: #1d2843;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 11;
}
nav .container {
  padding: 6px 4px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  justify-content: space-between;
  align-items: center;
}
nav .container h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  cursor: pointer;
}
nav .container form {
  position: relative;
  text-align: center;
}
nav .container form input {
  width: 94%;
  border-radius: 4px;
  font-size: 18px;
  padding: 4px 38px;
  border: none;
}
nav .container form .search {
  position: absolute;
  left: 20px;
  top: 48%;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transform: translateY(-50%);
}
nav .container form .search i {
  color: #888;
  font-size: 24px;
  transition: color 0.4s;
}
nav .container form .search i:hover {
  color: #444;
}
nav .container .links {
  display: flex;
  justify-content: end;
}
nav .container .links li {
  width: 26%;
  font-size: 18px;
  text-align: center;
  border-radius: 8px;
  border: 0.4px solid transparent;
}
nav .container .links li:nth-of-type(2) {
  border-color: #888;
  margin: 0 5px;
}
nav .container .links li:last-of-type {
  background-color: #37b0e4;
}
nav .container .links li a {
  display: block;
  width: 100%;
  padding: 2px 4px;
  line-height: 1.6;
}

footer {
  background-color: #192544;
  color: #fff;
  font-size: 17px;
}
footer .container {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  column-gap: 8px;
  justify-content: space-around;
  padding: 24px 0;
}
footer .container p {
  font-size: 14px;
  line-height: 1.6;
  margin-inline-end: 8px;
}
footer .container .sitemap li,
footer .container .imageshare li {
  margin-bottom: 12px;
}
footer .container .imageshare i {
  font-size: 18px;
  margin-inline: 2px 4px;
}
footer .container .contact {
  padding: 4px;
}
footer .container .contact p {
  max-width: 88%;
}
footer .container .contact textarea {
  width: 96%;
  resize: vertical;
  margin-bottom: 10px;
  padding: 8px 14px;
  border-radius: 4px;
  border: 0.4px solid #ccc;
}
footer .container .contact input:not([type=submit]) {
  width: 88%;
}
footer .container .contact input[type=submit] {
  background-color: #0078d4;
}
footer .copyright {
  width: 100%;
  color: #fff;
  background-color: #0c111f;
  padding: 18px;
  line-height: 1.7;
}
footer .copyright .container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
footer .copyright .container .socials a i {
  font-size: 28px;
}

form.main {
  width: 440px;
  margin: 0 auto;
  padding: 52px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 48px);
}
form.main .fields {
  padding: 4px;
}
form.main input:not([type=submit]) {
  width: 100%;
}
form.main span {
  font-size: 14px;
  font-weight: 300;
}
form.main label {
  display: block;
  font-weight: 500;
  font-size: 20px;
}
form.main label:last-of-type {
  margin-top: 14px;
}
form.main h2 {
  margin: 0 0 28px;
}
form.main input[type=submit] {
  background-color: #4fc5f8;
  font-weight: bold;
  margin-top: 22px;
}

/*# sourceMappingURL=new-password.css.map */
