mixin hover
  .over
    .react
      .likes
        button.like: i(class='fa fa-heart')
        span 468
      .downloads
        button.download: i(class='fa fa-download')
        span 78K
    button Detail