mixin footer
  footer
    .container
      form.contact
        h3 contact us
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet rem dignissimos eos similique quia!
        input(type='text' name='name' placeholder='Full name')
        input(type='email' name='email' placeholder='Your Email')
        textarea(placeholder='Your Message')
        input(type='submit' name='message' value='Submit')
      ul.sitemap
        h3 sitemap
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet rem dignissimos eos similique quia!
        li: a(href='#') - Home
        li: a(href='#') - about us
        li: a(href='#') - sign in
        li: a(href='#') - sign up
      ul.imageshare
        h3 <strong>images</strong>hare
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet rem dignissimos eos similique quia!
        li
          i(class='fa fa-phone')
          | +212 632 82 34 84
        li
          i(class='fa fa-phone')
          | +212 632 82 34 84
        li
          i(class='fa fa-gmail')
          | Younes.erraji8@gmail.com
        li
          i(class='fa fa-gmail')
          | amine.tissiliguit@gmail.com
      .clearfix
    .copyright
      .container
        span.copy
          |Copyright &copy; 2021 <strong>images</strong>hare.
          br
          |All Rights Reserved.
        .socials
          a(href='#'): i(class='fa fa-github')
          a(href='#'): i(class='fa fa-linkedin')
          a(href='#'): i(class='fa fa-codepen')

