mixin head(title, style)
  meta(charset='utf-8')
  title= title
  link(rel='icon' href='./assets/images/logo.png')
  link(rel='stylesheet' href='./assets/styles/utilities/fonts/poppins.css')
  link(rel='stylesheet' href='./assets/styles/utilities/normalize.css')
  link(rel='stylesheet' href='./assets/styles/utilities/font-awesome.min.css')
  link(rel='stylesheet' href='./assets/styles/' + style)