mixin imageStudio
  ul.studio
    li
      img(src='./assets/images/studio/00.jpg')
      +hover
    li
      img(src='./assets/images/studio/1.webp')
      +hover
    li
      img(src='./assets/images/studio/06.jpg')
      +hover
    li
      img(src='./assets/images/studio/09.jpg')
      +hover
    li
      img(src='./assets/images/B.jpg')
      +hover
    li
      img(src='./assets/images/studio/0.jfif')
      +hover
    li
      img(src='./assets/images/studio/02.jpg')
      +hover
    li
      img(src='./assets/images/studio/05.png')
      +hover
    li
      img(src='./assets/images/studio/08.jpg')
      +hover
    li
      img(src='./assets/images/logo.png')
      +hover
    li
      img(src='./assets/images/studio/01.png')
      +hover
    li
      img(src='./assets/images/studio/03.jpg')
      +hover
    li
      img(src='./assets/images/studio/04.jpg')
      +hover
    li
      img(src='./assets/images/studio/07.jpg')
      +hover