mixin navbar
  nav
    .container
      h1 <strong>images</strong>hare
      form
        input(type='text' name='search' placeholder='search for free photos..')
        button.search: i(class='fa fa-search')
      ul.links
        li: a(href='./about-us.html') about us
        li: a(href='./sign-in.html') sign in
        li: a(href='./sign-up.html') sign up