footer .container .contact input[type="submit"] {
  border-radius: 4px;
  font-size: 18px;
  border: none;
  padding: 8px 14px;
  color: #fff;
  cursor: pointer;
}

footer .container .contact input:not([type="submit"]) {
  display: block;
  margin: 6px 0 16px;
  border-radius: 8px;
  border: 0.4px solid #ccc;
  padding: 6px 10px;
}

footer .copyright .container .socials a i,
.about .container .front-end .developer .social i,
.about .container .back-end .developer .social i {
  margin-inline: 4px;
  font-size: 28px;
  border-radius: 4px;
  background-color: #0078d4ab;
  color: #fff;
  padding: 7px;
  transition: background-color 0.4s;
}
footer .copyright .container .socials a i:hover,
.about .container .front-end .developer .social i:hover,
.about .container .back-end .developer .social i:hover {
  background-color: #0078d4;
}

nav {
  background-color: #1d2843;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 11;
}
nav .container {
  padding: 6px 4px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  justify-content: space-between;
  align-items: center;
}
nav .container h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  cursor: pointer;
}
nav .container form {
  position: relative;
  text-align: center;
}
nav .container form input {
  width: 94%;
  border-radius: 4px;
  font-size: 18px;
  padding: 4px 38px;
  border: none;
}
nav .container form .search {
  position: absolute;
  left: 20px;
  top: 48%;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transform: translateY(-50%);
}
nav .container form .search i {
  color: #888;
  font-size: 24px;
  transition: color 0.4s;
}
nav .container form .search i:hover {
  color: #444;
}
nav .container .links {
  display: flex;
  justify-content: end;
}
nav .container .links li {
  width: 26%;
  font-size: 18px;
  text-align: center;
  border-radius: 8px;
  border: 0.4px solid transparent;
}
nav .container .links li:nth-of-type(2) {
  border-color: #888;
  margin: 0 5px;
}
nav .container .links li:last-of-type {
  background-color: #37b0e4;
}
nav .container .links li a {
  display: block;
  width: 100%;
  padding: 2px 4px;
  line-height: 1.6;
}

footer .copyright .container .socials a i,
.about .container .front-end .developer .social i,
.about .container .back-end .developer .social i {
  margin-inline: 4px;
  font-size: 28px;
  border-radius: 4px;
  background-color: #0078d4ab;
  color: #fff;
  padding: 7px;
  transition: background-color 0.4s;
}
footer .copyright .container .socials a i:hover,
.about .container .front-end .developer .social i:hover,
.about .container .back-end .developer .social i:hover {
  background-color: #0078d4;
}

.about {
  padding: var(--main-padding) 0;
}
.about .container h2 {
  margin-bottom: 38px;
  font-size: 30px;
}
.about .container .front-end,
.about .container .back-end {
  display: flex;
  padding: 0 22px;
  margin: 44px 0 66px;
}
.about .container .front-end .developer,
.about .container .back-end .developer {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  row-gap: 14px;
  width: 60%;
  padding: 4px 22px;
}
.about .container .front-end .developer h3,
.about .container .front-end .developer h4,
.about .container .back-end .developer h3,
.about .container .back-end .developer h4 {
  font-weight: bold;
  margin: 0 0 18px 0;
}
.about .container .front-end .developer h3,
.about .container .back-end .developer h3 {
  font-size: 24px;
}
.about .container .front-end .developer .social,
.about .container .back-end .developer .social {
  font-size: 24px;
  padding: 22px 22px 0;
  display: flex;
  justify-content: end;
  align-items: center;
}
.about .container .front-end .developer .social i,
.about .container .back-end .developer .social i {
  font-size: 38px;
}
.about .container .front-end .picture,
.about .container .back-end .picture {
  width: 40%;
}
.about .container .front-end .picture img,
.about .container .back-end .picture img {
  width: 100%;
}

footer {
  background-color: #192544;
  color: #fff;
  font-size: 17px;
}
footer .container {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  column-gap: 8px;
  justify-content: space-around;
  padding: 24px 0;
}
footer .container p {
  font-size: 14px;
  line-height: 1.6;
  margin-inline-end: 8px;
}
footer .container .sitemap li,
footer .container .imageshare li {
  margin-bottom: 12px;
}
footer .container .imageshare i {
  font-size: 18px;
  margin-inline: 2px 4px;
}
footer .container .contact {
  padding: 4px;
}
footer .container .contact p {
  max-width: 88%;
}
footer .container .contact textarea {
  width: 96%;
  resize: vertical;
  margin-bottom: 10px;
  padding: 8px 14px;
  border-radius: 4px;
  border: 0.4px solid #ccc;
}
footer .container .contact input:not([type="submit"]) {
  width: 88%;
}
footer .container .contact input[type="submit"] {
  background-color: #0078d4;
}
footer .copyright {
  width: 100%;
  color: #fff;
  background-color: #0c111f;
  padding: 18px;
  line-height: 1.7;
}
footer .copyright .container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
footer .copyright .container .socials a i {
  font-size: 28px;
}
