.visiter .container .user .info button {
  padding: 8px 14px;
  color: #777;
  background-color: #fff;
  cursor: pointer;
  border-radius: 14px;
  border: 1px solid #ccc;
}

nav {
  background-color: #1d2843;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 11;
}
nav .container {
  padding: 6px 4px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  justify-content: space-between;
  align-items: center;
}
nav .container h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  cursor: pointer;
}
nav .container form {
  position: relative;
  text-align: center;
}
nav .container form input {
  width: 94%;
  border-radius: 4px;
  font-size: 18px;
  padding: 4px 38px;
  border: none;
}
nav .container form .search {
  position: absolute;
  left: 20px;
  top: 48%;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transform: translateY(-50%);
}
nav .container form .search i {
  color: #888;
  font-size: 24px;
  transition: color 0.4s;
}
nav .container form .search i:hover {
  color: #444;
}
nav .container .links {
  display: flex;
  justify-content: end;
}
nav .container .links li {
  width: 26%;
  font-size: 18px;
  text-align: center;
  border-radius: 8px;
  border: 0.4px solid transparent;
}
nav .container .links li:nth-of-type(2) {
  border-color: #888;
  margin: 0 5px;
}
nav .container .links li:last-of-type {
  background-color: #37b0e4;
}
nav .container .links li a {
  display: block;
  width: 100%;
  padding: 2px 4px;
  line-height: 1.6;
}

ul.studio {
  display: flex;
  width: 100%;
  padding: 0 2px;
  justify-content: space-between;
  flex-wrap: wrap;
}
ul.studio li {
  width: 33%;
  height: 280px;
  display: block;
  overflow: hidden;
  position: relative;
  margin-bottom: 7px;
}
ul.studio li img {
  transition: transform 0.4s ease-in-out;
}
ul.studio li:hover img {
  transform: scale(1.1, 1.1);
}
ul.studio li:hover .over {
  display: flex;
}
ul.studio li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.over {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #37363680;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.over .react {
  color: #fff;
  width: 96px;
  text-align: center;
  margin-bottom: 8px;
}
.over .react button {
  width: 22px;
  margin: 0 8px 8px 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: -o-fit-content;
  width: fit-content;
}
.over .react button i.fa {
  font-size: 22px;
  color: #fff;
}
.over .react span {
  font-size: 22px;
  width: 50%;
}
.over > button {
  padding: 4px;
  background-color: #fbbb00;
  color: #fff;
  border: none;
  width: 120px;
  border-radius: 12px;
  justify-self: flex-end;
  cursor: pointer;
}

.up {
  position: absolute;
  bottom: -44px;
  left: -60px;
  color: #777;
  cursor: pointer;
}
.up i {
  font-size: 28px;
}

.show-more {
  margin: 52px 0 0;
}
.show-more button {
  display: block;
  width: 280px;
  border: 1px solid #ccc;
  margin: auto;
  color: #777;
  background: transparent;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  padding: 8px 24px;
  font-size: 20px;
}
.show-more button i {
  font-size: 22px;
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.visiter {
  padding: 52px 0;
}
.visiter .container {
  display: flex;
  flex-wrap: wrap;
}
.visiter .container .user {
  display: flex;
  width: 78%;
}
.visiter .container .user img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
}
.visiter .container .user .info {
  display: block;
  width: calc(100% - 100px);
}
.visiter .container .user .info h2 {
  margin: 8px 0;
  padding: 0;
}
.visiter .container .user .info .username {
  margin-bottom: 14px;
}
.visiter .container div.download {
  width: 22%;
  display: flex;
  align-items: center;
}
.visiter .container div.download button {
  display: block;
  cursor: pointer;
  width: 100%;
  font-size: 22px;
  height: 44px;
  padding: 8px 14px;
  color: #fff;
  border-radius: 14px;
  border: none;
  background-color: #1bc47d;
}
.visiter .container .main-content {
  display: flex;
  padding: 52px 0;
  width: 100%;
  margin: 44px 0 66px;
}
.visiter .container .main-content .user {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 60%;
}
.visiter .container .main-content .user h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 18px 18px;
}
.visiter .container .main-content .user p {
  line-height: 1.7;
  padding: 4px 4px 4px 36px;
}
.visiter .container .main-content .user .social {
  font-size: 24px;
  padding: 22px 22px 0;
  display: flex;
  justify-content: flex-end;
}
.visiter .container .main-content .user .social button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.visiter .container .main-content .user .social button i {
  font-size: 28px;
}
.visiter .container .main-content .picture {
  width: 40%;
  position: relative;
}
.visiter .container .main-content .picture img {
  width: 100%;
}
.visiter .container .main-content .picture i.fa {
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: -28px;
}
.visiter .container .main-content .picture i.fa:first-of-type {
  right: 0;
}
.visiter .container .main-content .picture i.fa:nth-of-type(2) {
  right: 28px;
}

.related {
  padding: 52px;
}
.related .container {
  position: relative;
}
.related .container h3 {
  font-size: 34px;
  font-weight: bold;
}
